include ./stages-track/index.pug

mixin addUIKitStage(id, stages, stage, type, isInverted)
    div.uikit.uikit-stages(id=id, data-stages=stages, data-stage=stage, data-type=type, data-invert=isInverted ? "true" : "false")
        +addUIKitStages_Track()
