mixin UIKitForm(data)
    form.uikit.uikit-form(
            id=data.id
            name=data.name
            action=data.action
            autocomplete=data.autocomplete
            accept-charset=data.acceptcharset
            enctype=data.enctype
            method=data.method
            novalidate=data.novalidate
            target=data.target
        )
        if block
            block
